<div class="list-container" style="align-items: center">
    <h2>Lista de productos</h2>

    <div style="text-align: center; margin-bottom: 20px;">
        <input type="text" #searchBox placeholder="Filtrar por nombre..." (input)="onLiveSearch($event)">
    </div>

    <div class="articles-grid">
        <app-article-item *ngFor="let article of (articlesLiveSearch$ | async)" [article]="article"
            (quantityChange)="onQuantityChange($event)">
        </app-article-item>
    </div>
</div>