<div class="form-container">
    <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>

    <div class="form-group">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-floating" id="username-login">
                <input class="form-control" id="username" type="text" placeholder="Username" formControlName="username">
                <label for="username">Usuario</label>
            </div>

            <div class="form-floating" id="password-login">
                <input class="form-control" id="password" type="password" placeholder="Password"
                    formControlName="password">
                <label for="password">Contraseña</label>
            </div>

            <button class="btn btn-primary" type="submit">
                Login
            </button>
        </form>
    </div>
</div>