.form-container {
    max-width: 500px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #474747;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username-login .ng-valid.ng-touched,
#password-login .ng-valid.ng-touched {
    background-color: lightgreen;
}

#username-login .ng-invalid.ng-touched,
#password-login .ng-invalid.ng-touched {
    background-color: pink;
}