.card {
    background-color: gray;
    padding: 5px;
    min-height: 450px;
    text-align: center;
    margin: 10px;
}

.product-img {
    width: 100%;
    height: auto;
}

.on-sale {
    background-color: beige;
}

.not-on-sale {
    color: lightgray;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}