.main {
    background-color: #b4b4b4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    width: 100%;
}

.footer {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232323;
    color: white;
    border-top: 2px solid white;
    padding: 1rem;
}

.footer p {
    margin: 2rem 0;
    color: white;
}   