.article-card {
    border: 2px solid gray;
    background-color: gray;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    height: 400px;
    text-align: center;
    margin: 10px;
}

.product-img {
    width: 100%;
    height: auto;
}

/* Cambia a verde en caso de estas disponible */
.on-sale {
    background-color: beige;
}

.not-on-sale {
    color: lightgray;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
/* 
.debug button {
    width: fit-content;
    height: 30px;
    margin: 0 10px;
} */