<div class="form-container">
  <h1 class="h3 mb-3 fw-normal">Nuevo artículo (Template)</h1>

  <div class="form-group">
    <form (ngSubmit)="createArticle(articleForm)" #articleForm="ngForm">
        <div ngModelGroup="article">

            <div class="form-floating" id="article-name">
                <input class="form-control"
                    type="text"
                    placeholder="Nombre del artículo"
                    required="true"
                    name="name"
                    pattern="^[!a-zA-Z0-9]+$"
                    ngModel
                    #name="ngModel">
                <label for="name">Nombre del artículo</label>
                <div *ngIf="name.invalid && (articleForm.submitted || name.dirty)" class="error-msg">
                    <div *ngIf="name.errors?.['required']">
                        Nombre obligatorio
                    </div>
                    <div *ngIf="name.errors?.['pattern']">
                        Nombre inválido
                    </div>
                </div>
            </div>

            <div class="form-floating" id="article-price">
                <input class="form-control"
                    type="number"
                    placeholder="Precio"
                    required="true"
                    min="0"
                    step="0.01"
                    name="price"
                    ngModel 
                    #price="ngModel">
                <label for="price">Precio</label>                    
                <div *ngIf="price.invalid && (articleForm.submitted || price.dirty)" class="error-msg">
                    <div *ngIf="price.errors?.['required']">
                        Precio obligatorio
                    </div>
                    <div *ngIf="price.errors?.['min']">
                        Precio no puede ser negativo
                    </div>
                </div>              
            </div>

            <div class="form-floating" id="article-imageUrl">
                <input class="form-control"
                    type="text"
                    placeholder="URL de la Imagen"
                    required="true"
                    name="imageUrl"
                    pattern="^https?:\/\/(www\.)?[a-zA-Z0-9\-]+\.[a-zA-Z]{2,3}(\/[a-zA-Z0-9\-]+(\.[a-zA-Z]+)?)*$"
                    ngModel
                    #imageUrl="ngModel">
                <label for="imageUrl">URL de la Imagen</label>
                <div *ngIf="imageUrl.valid && (articleForm.submitted || imageUrl.dirty)" class="valid-msg">
                    <div *ngIf="imageUrl.errors?.['required']">
                        URL obligatorio
                    </div>
                    <div *ngIf="imageUrl.errors?.['pattern']">
                        URL inválida
                    </div>
                </div>
            </div>

            <div class="form-check text-start my-3">
                <label for="onSale">
                    <input type="checkbox"
                        name="onSale"
                        ngModel>
                    En stock
                </label>
            </div>

        </div>
        <button class="btn btn-primary" type="submit">Crear Artículo</button>
    </form>
</div>
