.form-container {
    max-width: 500px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #474747;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* No acaba de funcionar correctamente */
#article-name .ng-valid.ng-touched,
#article-price .ng-valid.ng-touched,
#article-imageUrl .ng-valid.ng-touched {
    background-color: lightgreen;
}

#article-name .ng-invalid.ng-touched,
#article-price .ng-invalid.ng-touched,
#article-imageUrl .ng-invalid.ng-touched {
    background-color: pink;
}

/*
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control.ng-invalid.ng-touched {
    border-left: 5px solid pink;
}

.form-control.ng-valid.ng-touched {
    border-left: 5px solid green;
}

.error-msg {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
} */